<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <title>$TR!F3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %> 
    <%# <meta property="og:url" content="https://strife-v1.herokuapp.com/#/" /> %>
    <meta property="og:url" content="https://strife.onrender.com/#/" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url("discord_Strife_logo.png") %>">
     <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <% if logged_in? %>
        <script type="text/javascript">
             window.currentUser = <%= render(partial:"api/users/user", formats: :json, object: current_user).html_safe %>
        </script>
    <% end %>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
